.title{
  font-weight:500;
}

.playground-title{
  margin-top:50px;
  margin-bottom:50px;
}

.playground-object{
  padding:30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  float:left;
}

input{
  padding:2px 6px;
  width:180px;
  outline:none;
  font-size:10px;
  margin-left:10px;
}

.playtoy-icon{
  width:80px;
  height:auto;
  display:block;
  cursor:pointer;
}

/* Lights off */
.body-dark{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  background:black !important;
  color:white !important;
}

.body-light{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  background:white !important;
  color: gray !important;
}


.lightbulb:hover{
  transform: scale(1.2);
}

/* Wiggle */

.pengu:hover{
 -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
}
  @-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

/*Hover*/


.dragonite:hover{
  animation: hover 1.5s infinite;
}

 @keyframes hover {
  0%, 100% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
}  

/*Underline*/

.underline{
  color: #676e71 !important;
  font-size:24px;
  font-weight:600;
   display:block;
  cursor:pointer;

}

.underline::after{
  font-family: 'Raleway', sans-serif;
  content: "";
  width: 0;
  margin-top:5px;
  height: 3px;
  background: #676e71;
  display: block;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.underline:hover::after {
  -webkit-animation: bar 0.5s linear;
  animation: bar 0.5s linear;
  width:100%;
  }


  @-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



/* Color change*/

.color-change{
  color:black;
  font-size:32px;
  font-family: 'Shrikhand', cursive;
  font-weight:700;
  cursor:pointer;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}


/* Shroedinger*/

.kitteh{
  margin-top:-20px;
  height:30%;
  width:30%;
  position:absolute;
  z-index:-2;
  /*bottom:0;*/
}

.alive{
    background-image: url('../img/kitteh.gif');
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.dead{
  background-image: url('../img/dead-kitteh.png');
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.box{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top:20px;
  z-index:0;
}

.box:hover{
 opacity:0.2;
}