.title{
  font-weight:500;
}

.playground-title{
  margin-top:50px;
  margin-bottom:50px;
}

.playground-object{
  padding:30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  float:left;
  height:40%;
}

input{
  width:180px;
  outline:none;
  font-size:10px;
  margin-left:10px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  border: 0;
  outline: 0;
  color: inherit;
  border: 1px solid gray;
  padding:2px 6px;
}

.input-dark{
  background:#626665;
}

.playtoy-icon{
  width:80px;
  height:auto;
  display:block;
  cursor:pointer;
}

/* Lights off */
.body-dark{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  background:black !important;
  color:white !important;
}

.body-dark p {
  text-shadow: 0px 0px 10px #fff !important;
}
.body-light{
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  background:white !important;
  color: gray !important;
}

.star, .lightbulb{
  transition: all 0.2s ease-in;
}

.lightbulb:hover{
  transform: scale(1.2);
}

.star{
  opacity:0.4;
}

.star:hover{
  opacity:1;
}

.star-shine{
  opacity:1;
}

/* Wiggle */

.pengu:hover{
 -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1500ms;
  -webkit-animation-duration: 1500ms;
}
  @-webkit-keyframes wiggle {
  0% {-webkit-transform: rotate(10deg);}
  25% {-webkit-transform: rotate(-10deg);}
  50% {-webkit-transform: rotate(20deg);}
  75% {-webkit-transform: rotate(-5deg);}
  100% {-webkit-transform: rotate(0deg);}
}

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

/*Hover*/


.dragonite:hover{
  animation: hover 1.5s infinite;
}

 @keyframes hover {
  0%, 100% {
    transform: translateY(-5px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }
}  

/*Underline*/

.underline{
  color: #676e71 !important;
  font-size:24px;
  font-weight:600;
   display:block;
  cursor:pointer;

}

.underline::after{
  font-family: 'Raleway', sans-serif;
  content: "";
  width: 0;
  margin-top:5px;
  height: 3px;
  background: #676e71;
  display: block;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.underline:hover::after {
  -webkit-animation: bar 0.5s linear;
  animation: bar 0.5s linear;
  width:100%;
  }


  @-webkit-keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



/* Color change*/

.color-change{
  color:#8CA5CD;
  font-size:32px;
  font-family: 'Shrikhand', cursive;
  font-weight:700;
  cursor:pointer;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}


/* Shroedinger*/

.kitteh{
  margin-top:-20px;
  height:30%;
  width:30%;
  position:absolute;
  z-index:-2;
  /*bottom:0;*/
}

.alive{
    background-image: url('../img/kitteh.gif');
    background-size: auto 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.dead{
  background-image: url('../img/dead-kitteh.png');
  background-size: auto 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.box{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top:20px;
  z-index:0;
}

.box:hover{
 opacity:0.2;
}

/* Aroura */

.body-auroura{
  color:white;
  background-position: 0px 0px;
   background: linear-gradient(243deg, #3ffd5f, #160f1f, #3f1d8b);
  background-size: 200% 200%;

-webkit-animation: Auroura 5s ease infinite;
-moz-animation: Auroura 5s ease infinite;
animation: Auroura 5s ease infinite;
}

@-webkit-keyframes Auroura {
    0%{background-position:0% 72%}
    50%{background-position:80% 29%}
    100%{background-position:0% 72%}
}
@-moz-keyframes Auroura {
    0%{background-position:0% 72%}
    50%{background-position:80% 29%}
    100%{background-position:0% 72%}
}
@keyframes Auroura { 
    0%{background-position:0% 72%}
    50%{background-position:80% 29%}
    100%{background-position:0% 72%}
}


.polar-bear{
  transition: all 0.2s ease-in;
}
.polar-bear:hover{
    transform: scale(1.2);
}

/*Twinkle */


.stars p, .stars h1 {
  color:white;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.menu-transparent{
  opacity:0.4 !important;
   -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.menu-transparent:hover{
  opacity:1.0 !important;
}

/* Boxed in */

.boxed-in{
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  color: #5d62ea;
  padding-bottom:0.2em;
  cursor:pointer;
  display: inline-block;
  font-size: 1.5em;
  padding:0em 0.2em;
  margin-bottom:2.5em;
  text-decoration: none;
  position: relative;
  font-family: 'Bungee', cursive;
}

.boxed-in:hover{
  color: #5635ae;
}

.boxed-in:after,
.boxed-in:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 2.5em;
  margin-top:-12px;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

.boxed-in:before {
  border-left: 3px solid #5635ae;
  border-right: 3px solid #5635ae;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
}

.boxed-in:after {
  border-bottom: 3px solid #5635ae;
  border-top: 3px solid #5635ae;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.boxed-in:hover:after,
.boxed-in:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}